<div
  class="container-fluid pt-2 w-100 h-100 d-flex align-items-center justify-content-center"
>
  <div class="col col-lg-8">
    <mdb-card>
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Descargar PDF Ingebook:</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text>
          Aplicación que sirve para descargar páginas de la librería de
          streaming IngeBook.
          <br />
          Requerimientos para descargar:
          <br />
          Estar logeado en el campus de UNIR, abrir la Bibilioteca, y visualizar
          el libro. Despúes coger las Cookies.
          <br />Se aprobecha de las peticiones GET:
          http://bv.unir.net:2116/ib/IB_Browser?pagina=1&libro=4143&ultpag=1&id=f38dc7a54df8773c3118b2710ff375f85b210fce
          <br />
          Requerimientos para fusionar PDFs:
          <br />
          Tener Python3 e instalar PyPDF2 (pip3 install PyPDF2)
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>

    <mdb-card class="mt-2">
      <mdb-card-body>
        <form
          (ngSubmit)="onSubmit()"
          [formGroup]="libraryForm"
          class="text-center  pt-2 pb-2"
        >
          <!-- JSESSIONID -->
          <input
            formControlName="jSessionId"
            type="text"
            id="FormJSessionId"
            class="form-control mb-4"
            placeholder="JSESSIONID"
          />
          <input
            formControlName="ezProxy"
            type="text"
            id="FormEzProxy"
            class="form-control mb-4"
            placeholder="ezproxy"
          />
          <small id="jSessionIdHelp" class="form-text text-muted mb-4">
            El valor de la cookie JSESSIONID, para ello debemos estar logeado en
            la librearia.
            <br />
            Se puede usar la extensión EditThisCookie de Chrome para recogerla:
            <a class="blue-text"
              >https://chrome.google.com/webstore/detail/editthiscookie/fngmhnnpilhplaeedifhccceomclgfbg?hl=es</a
            >
          </small>
          <!-- Book ID -->
          <input
            formControlName="bookId"
            type="text"
            id="FormBookId"
            class="form-control"
            placeholder="Book ID"
          />
          <small id="bookIdHelp" class="form-text text-muted mb-4">
            El ID del libro por ejemplo, Matemática Discreta y Aplicaciones.
            4143
          </small>

          <!-- Page -->
          <ng-container *ngIf="!libraryForm.controls.isMultipleDownload.value">
            <input
              formControlName="pageFrom"
              type="text"
              id="FormPage"
              class="form-control"
              placeholder="Page"
            />
            <small id="pageHelp" class="form-text text-muted mb-4">
              El número de página.
            </small>
          </ng-container>

          <ng-container *ngIf="libraryForm.controls.isMultipleDownload.value">
            <div class="form-row mb-4">
              <div class="col">
                <!-- Page From -->
                <input
                  formControlName="pageFrom"
                  type="text"
                  id="FormPageFrom"
                  class="form-control"
                  placeholder="Page From"
                />
              </div>
              <div class="col">
                <!-- Page To -->
                <input
                  formControlName="pageTo"
                  type="text"
                  id="FormPageTo"
                  class="form-control"
                  placeholder="Page To"
                />
              </div>
            </div>
            <small id="pageHelp" class="form-text text-muted mb-4">
              El intervalo de páginas.
            </small>
          </ng-container>

          <!-- Multiple -->
          <div class="row">
            <div class="col-md-6 mx-auto d-flex justify-content-center">
              <mdb-checkbox
                formControlName="isMultipleDownload"
                [default]="true"
                ><span class="white-text"
                  >Descargar intervalo de páginas</span
                ></mdb-checkbox
              >
            </div>
          </div>

          <!-- Download button -->
          <button mdbBtn color="info" block="true" class="my-4" type="submit">
            Generar
          </button>
          <button
            mdbBtn
            color="success"
            block="true"
            class="my-4"
            type="button"
            (click)="mergePdf()"
          >
            Fusionar PDF
          </button>
        </form>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>

<!-- MODAL -->
<button
  type="button"
  mdbBtn
  color="primary"
  class="relative waves-light"
  (click)="pagesModal.show()"
  mdbWavesEffect
  hidden
>
  Abrir Modal
</button>

<div
  mdbModal
  style="overflow-y: auto"
  #pagesModal="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="pagesModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-content">
      <div toastContainer></div>
      <div class="modal-header">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="pagesModal.hide()"
        >
          <span aria-hidden="true">×</span>
        </button>

        <h4 class="modal-title w-100 pt-4" id="myModalLabel">
          <button
            type="button"
            mdbBtn
            color="primary"
            class="w-100"
            rounded="true"
            size="lg"
            (click)="downloadAll()"
          >
            DESCARGAR TOTAL
            <mdb-icon
              fas
              icon="download"
              class="ml-2"
              aria-hidden="true"
            ></mdb-icon>
          </button>
        </h4>
      </div>
      <div class="modal-body">
        <div class="row" *ngFor="let page of pages">
          <div class="col-4 d-flex justify-content-center">
            <!-- <button type="button" mdbBtn color="secondary" mdbWavesEffect>
              {{ page.pageNumber }}
            </button> -->
            <button
              type="button"
              mdbBtn
              color="info"
              rounded="true"
              size="lg"
              (click)="download(page)"
            >
              {{ page.pageNumber
              }}<mdb-icon
                fas
                icon="download"
                class="ml-2"
                aria-hidden="true"
              ></mdb-icon>
            </button>
          </div>
          <div class="col-8">
            {{ page.url }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          mdbBtn
          color="secondary"
          class="waves-light"
          aria-label="Close"
          (click)="pagesModal.hide()"
          mdbWavesEffect
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
